.buttonVisited {
  background-color: #dacda8;
  border: none;
  color: #0f0f0f;
  text-align: center;
  text-size-adjust: 60%;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 15rem;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.buttonVisited:hover {
  transform: scale(1.2);
}
