.review {
  padding: 10%;
  width: 30%;
  text-align: center;
  justify-self: center;
}
.google-map {
  padding: 0;
  width: 30%;
  text-align: center;
  justify-self: center;
}
.container-image {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 80%;
  margin-left: 10%;
}
.imgage-restaurant {
  width: 40%;
}
.img-dish {
  width: 40%;
}
.info-restaurant {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.all-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.reviews {
  width: 80%;
  padding: 10px;
}
.reviews h1 {
  font-size: 2em;
}
.rewiew-name-date {
  border-top: solid gray 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.google-map img {
  width: 100%;
}
