.logo {
	width: 15%;
}

.searchbar-article {
	text-align: center;
	margin-bottom: 3%;
}

input {
	margin: 3%;
	width: 70%;
	font-size: large;
	background-color: #dacda8;
	border-style: none;
}

.image-resto-plat {
	display: flex;
	justify-content: center;
	gap: 5%;
}

.img-resto {
	width: 45%;
}

.img-plat {
	width: 45%;
}

.reservation {
	margin-top: 2%;
	text-align: end;
}

.reservation button {
	width: 10%;
	padding: 1%;
}


.button-enr {
	width: 10%;
	padding: 1%;
}

.button-fav {
	width: 10%;
	padding: 1%;
}

.info-resto{
    width: 80%;
}
    
.avis{
    padding: 10%;
    width: 30%;
    text-align: center;
    justify-self: center;
}

.google-map{
    padding: 10%;
    width: 30%;
    text-align: center;
    justify-self: center;
}
