.crew {
  text-align: center;
  border: solid blue;
}

.dev img {
  width: 30%;
  margin-top: 2rem;
  border-radius: 50%;
}

.links {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.dev {
  border: solid red;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

p {
  width: 20%;
  justify-self: center;
}
