/* Carousel.css */

.carousel {
  overflow: hidden;
  width: 100%; /* Ajustez la largeur si besoin */
  height: 200px; /* Ajustez la hauteur si besoin */
  position: relative;
  flex-shrink: 0;
}

.carousel-track {
  display: flex;
  animation: scroll 40s linear infinite;
  background: white;
  flex-shrink: 0;
}

.carousel-track img {
  width: 18%; /* Largeur de chaque image */
  height: 20vh;
  object-fit: cover;
  flex-shrink: 0;
  margin-right: 1%;
  margin-top: 2rem;
}

.carousel-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  pointer-events: none; /* Permet de cliquer sur le carrousel malgré le gradient */
  z-index: 1;
}
.carousel-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  pointer-events: none; /* Permet de cliquer sur le carrousel malgré le gradient */
  z-index: 1;
}

.gradient-left {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.gradient-right {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}
/* Animation de défilement infini */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
