.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input {
  width: 90%;
  text-align: center;
  /* box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 6px rgba(181, 182, 130, 0); */
  border: 0;
  background-color: #b5b682;
  align-items: center;
}

.liste {
  list-style: none;
  text-align: left;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.elementdeliste {
  width: 60%;
  text-align: left;
}
.buttonrefresh {
  /* box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 6px rgba(218, 205, 168, 0); */
  background-color: #b5b682;
  border:0;
}
