:root {
  --primary-color: #dacda8;
  --secondary-color: #b5b682;
}

.navbar-container {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}
.navbar-container a {
  width: 12%;
  height: 95%;
}

.logo {
  height: 100%;
  margin-left: 2vh;
  margin-bottom: 1vh;
  border: 1px solid var(--primary-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.logo:hover {
  transform: scale(1.1);
}
.connexion {
  height: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.connexion:hover {
  transform: scale(1.2);
}
h1 {
  font-size: 2.5em;
  margin-bottom: 2vh;
}

@media (max-width: 768px) {
  .navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100%);
  }
  .logo {
    margin: 0;
    height: 10vh;
  }
  .connexion {
    margin: 0;
    height: 7vh;
  }
}
