:root {
  --primary-color: #dacda8;
  --secondary-color: #b5b682;
}

nav {
  background: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .logo {
  width: 15%;
}

.searchBar {
  text-align: center;
  margin-bottom: 3%;
  width: 100%;
}

.categoryBar {
  background: var(--primary-color);
  border-style: none;
  font-size: large;
}
