:root {
  --primary-color: #dacda8;
  --secondary-color: #b5b682;
}

.navbar-container {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin-bottom: 0;
  display: flex;
  justify-content: space-evenly;
}

.logo {
  height: 130px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid var(--primary-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.logo:hover {
  transform: scale(1.1);
}
.connexion {
  height: 90px;
  width: 170px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.connexion:hover {
  transform: scale(1.2);
}
h1 {
  font-size: 2.5em;
  margin-top: 40px;
  margin-bottom: 20px;
}
